<!-- <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row " style="margin-top: 20px;">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-body">
              <div class="container text-center">
                <img src="../../../assets/tp.png" alt="" height="100px" width="100px">
              </div>
              <h3 class="text-center">
                Book Appointment here!
              </h3>-->
              <!-- {{appointment | json}}  -->
            <!-- <form #myForm="ngForm" (ngSubmit)="formSubmit()">
                <div class="form-group">
                  <label for="name">ID</label>
                  <input  type="text" #id="ngModel" 
                          minlength="3"
                          maxlength="25"
                          [(ngModel)]="appointment.id" 
                          name="fullName" 
                          class="form-control"
                          id="Username" 
                          aria-describedby="emailHelp"   
                          placeholder="Enter id" required>
                <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="id.invalid && (id.dirty || id.touched)">
                    ID is a required field
                  </div>
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="id.errors?.['minlength']||id.errors?.['maxlength']">
                    minlength {{id.errors?.['minlength']?.['requiredLength']}} is required and maxlength 25 is required
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Date Of Appointment</label>
                  <input type="date" #appointmentDate="ngModel" 
                          [(ngModel)]="appointment.appointmentDate" 
                          name="dob" class="form-control"
                          id="appointmentDate" 
                          value="appointmentDate"
                          aria-describedby="emailHelp" 
                          placeholder="Enter Date" required>
                    <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="appointmentDate.invalid && (appointmentDate.dirty || appointmentDate.touched)">
                    Date is a required field
                  </div>
                </div>
                <div class="form-group">                 
                   <label for="exampleInputEmail1">Start time</label>
                  <input type="datetime" #appointmentStartTime="ngModel" 
                          [(ngModel)]="appointment.appointmentStartTime" 
                          name="maritalstatus"
                          class="form-control" 
                          id="appointmentStartTime" aria-describedby="emailHelp"
                          placeholder="Enter Start time" required>
                    <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="appointmentStartTime.invalid && (appointmentStartTime.dirty || appointmentStartTime.touched)">
                    Start time is a required field
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1"> End time</label>
                  <input type="datetime" #appointmentEndTime="ngModel"  
                          [(ngModel)]="appointment.appointmentEndTime" 
                          name="gender" class="form-control"
                          id="exampleInputEmail1" aria-describedby="emailHelp" 
                          placeholder="Enter End time" required>
                    <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="appointmentEndTime.invalid && (appointmentEndTime.dirty || appointmentEndTime.touched)">
                    End time is a required field
                  </div> 
                </div>
                <div class="form-group">
                  <label for="branch">Doctor name</label>
                  <select [(ngModel)]="appointment.nameOfDoctor" (change)="getprice()" id="branch" name="branch" ngModel class="form-control">
                    <option *ngFor="let d of list" [value]="d.name">
                      {{d.name}}
                  </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Price</label>
                  <input type="number" #price="ngModel" 
                          [(ngModel)]="appointment.price" 
                          name="phone" class="form-control"
                          id="price" 
                          value="price"
                          placeholder="Price" required>
                    <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="price.invalid && (price.dirty || price.touched)">
                    Price is a required field
                  </div>
                </div>   
                <div class="container text-center" style="margin-top: 10px;">
                  <button  [disabled]="!myForm.form.valid" type="submit" class="btn btn-primary">Book</button>
                  <button style="margin-left: 20px;" type="button" class="btn btn-primary" (click)="myForm.resetForm()">clear</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row " style="margin-top: 20px;">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-body">
              <div class="container text-center">
                <img src="../../../assets/tp.png" alt="" height="100px" width="100px">
              </div>
              <h3 class="text-center">
                Book Appointment here!
              </h3></div>
              
              </div>
              </div>
              </div>
              </div>
              </div>