<!-- <p>appointmentlist works!</p> -->
<!-- <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row " style="margin-top: 20px;">
        <div class="col-md-8 ml-md-auto">
          <div class="card">
            <div class="card-body"> -->
<div class=" container-fluid page">
    <!-- <div class=" page__box p-3 mt-2">Dashboard</div> -->
    <div class="col-md-8 offset-md-3">
    <div class="page__content shadow p-3 position-relative">
        <div class="page__ content-data postion-absolute text-center">
            All Appointment
        </div>
         <div class="mt-3">
    <table class="table table-bordered" >
      <thead>
        <tr>
          <th>AppointmentId</th>
          <th>AppointmentDate</th>
          <th>AppointmentSartTime</th>
          <th>AppointmentEndTime</th>
          <!-- <th>speciality</th> -->
          <!-- <th>Timing</th> -->
          <!-- <th>Edit</th>
          <th>Delete</th> -->
        </tr>
      </thead>
      <tbody class="tbody">
      <tr *ngFor="let apt of appointlist">
          <td>{{apt.id}}</td>
          <td>{{apt.appointmentDate }}</td>
          <td>{{apt.appointmentStartTime}}</td>
          <td>{{apt.appointmentEndTime}}</td>
          <!-- <td>{{doctor.speciality}}</td> -->
          <!-- <td>{{doctor.timing}}</td> -->
          <!-- --<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="edit(doctor)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteDoctor(doctor)">Delete</button></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
    </div>
