
<nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    
    <a class="navbar-brand" routerLink="/">HOSPITAL</a>

   <a 
   *ngIf="!login.isLoggedIn()"
   [routerLink]="'/login'" 
    type="button" style="margin-left: 950px;" class="btn btn-primary">Login</a>

    <a   
     *ngIf="!login.isLoggedIn()"
    [routerLink]="'/signup'" type="button" style="margin-right: 20px;" class="btn btn-primary">Register</a>

    <a  
    *ngIf="login.isLoggedIn()"
     type="button" style="margin-left: 800px;" class="btn btn-primary">{{login.getUser().fullName}}</a>

    <a  
    (click)="logout()"
    *ngIf="login.isLoggedIn()"
     type="button" style="margin-right: 20px;" class="btn btn-primary">Logout</a>

  </nav>